*.o
/build
/OMPlot/bin
/OMPlot/generatedfiles
/OMPlot/OMPlotGUI/Makefile
/OMPlot/OMPlotGUI/Makefile.Debug
/OMPlot/OMPlotGUI/Makefile.lib
/OMPlot/OMPlotGUI/Makefile.lib.Debug
/OMPlot/OMPlotGUI/Makefile.lib.Release
/OMPlot/OMPlotGUI/Makefile.Release
/OMPlot/OMPlotGUI/debug/object_script.*
/OMPlot/OMPlotGUI/release/object_script.*
/qwt/.qmake.stash
/qwt/build
/qwt/lib
/qwt/Makefile
/qwt/src/.qmake.stash
/qwt/src/Makefile
/qwt/src/Makefile.Debug
/qwt/src/Makefile.Release
/qwt/src/moc
/qwt/src/obj
/qwt/src/object_script.*
qwt.pro.user
qwt/src/release/
qwt/src/debug/
.qtc_clangd/
