*.o
/autom4te.cache
/build
/config.*
/configure
/install-sh
/Makefile
/OMPlot/bin
/OMPlot/generatedfiles
/OMPlot/OMPlotGUI/.qmake.stash
/OMPlot/OMPlotGUI/Makefile
/OMPlot/OMPlotGUI/Makefile.Debug
/OMPlot/OMPlotGUI/Makefile.lib
/OMPlot/OMPlotGUI/Makefile.lib.Debug
/OMPlot/OMPlotGUI/Makefile.lib.Release
/OMPlot/OMPlotGUI/Makefile.Release
/OMPlot/OMPlotGUI/Makefile.unix
/OMPlot/OMPlotGUI/object_script.*
/OMPlot/OMPlotGUI/OMPlotGUI.config
/OMPlot/OMPlotGUI/OMPlotGUI.pro.*
/OMPlot/OMPlotGUI/OMPlotLib.pro.*
/qmake.sh
/qwt/.qmake.stash
/qwt/build
/qwt/lib
/qwt/Makefile
/qwt/Makefile.unix
/qwt/qwt.config
/qwt/src/.qmake.stash
/qwt/src/Makefile
/qwt/src/Makefile.Debug
/qwt/src/Makefile.Release
/qwt/src/moc
/qwt/src/obj
/qwt/src/object_script.*
