/.externalToolBuilders/*.launch
/.metadata/
/.project
/.settings
/.vscode/
/autom4te.cache/
/build/
/build_cmake/
/config.guess
/config.log
/config.status
/config.sub
/configure
/install-sh
/install_cmake/
/install/
/issues/
/Makefile
/OMCompiler/SimulationRuntime/ModelicaExternalC/build/
/OMCompiler/compile
/OMCompiler/depcomp
/OMCompiler/ltmain.sh
/OMCompiler/missing
/OMEncryption/
/OMJava/
/OMPublicKey/
/OMPython/
/OMSetup/
/OpenModelicaSetup/
/testsuite/libraries-for-testing/.ccache/
/testsuite/flattening/modelica/ffi/FFITest/Resources/BuildProjects/gcc/libFFITestLib.dll
trace.txt
