[submodule "OMEdit"]
	path = OMEdit
	url = ../OMEdit.git
[submodule "doc"]
	path = doc
	url = ../OpenModelica-doc.git
[submodule "OMOptim"]
	path = OMOptim
	url = ../OMOptim.git
[submodule "OMPlot"]
	path = OMPlot
	url = ../OMPlot.git
[submodule "OMNotebook"]
	path = OMNotebook
	url = ../OMNotebook.git
[submodule "common"]
	path = common
	url = ../OpenModelica-common.git
[submodule "libraries"]
	path = libraries
	url = ../OMLibraries.git
[submodule "OMC"]
	path = OMCompiler
	url = ../OMCompiler.git
[submodule "testsuite"]
	path = testsuite
	url = ../OpenModelica-testsuite.git
