*.c text eol=native
*.cpp text eol=native
*.h text eol=native
*.m4 text eol=native
.gitattributes text eol=lf
.gitignore text eol=lf
*.md text eol=native
LICENSE text eol=native
configure.ac text eol=native
Makefile* text eol=native
*.pro text eol=native
*.mo eol=lf
*.g text eol=lf
