[submodule "OMOptim"]
	path = OMOptim
	url = ../OMOptim.git
[submodule "OMSimulator"]
	path = OMSimulator
	url = ../OMSimulator.git
[submodule "OMCompiler/3rdParty"]
	path = OMCompiler/3rdParty
	url = https://github.com/AnHeuermann/OMCompiler-3rdParty.git
	branch = msvc-fixes
[submodule "OMSens_Qt"]
	path = OMSens_Qt
	url = ../OMSens_Qt.git
[submodule "OMCompiler/Compiler/boot/bomc"]
	path = OMCompiler/Compiler/boot/bomc
	url = ../OMBootstrapping.git
