[submodule "doc"]
	path = doc
	url = ../OpenModelica-doc.git
[submodule "OMOptim"]
	path = OMOptim
	url = ../OMOptim.git
[submodule "common"]
	path = common
	url = ../OpenModelica-common.git
[submodule "libraries"]
	path = libraries
	url = ../OMLibraries.git
[submodule "OMC"]
	path = OMCompiler
	url = ../OMCompiler.git
[submodule "OMSimulator"]
	path = OMSimulator
	url = ../OMSimulator.git
