*.o
/build
/mosh/src/omc_communication.cc
/mosh/src/omc_communication.h
/mosh/src/OMShell-terminal
/OMShell/bin
/OMShell/generatedfiles
/OMShell/OMShellGUI/*.qm
/OMShell/OMShellGUI/Makefile
/OMShell/OMShellGUI/Makefile.Debug
/OMShell/OMShellGUI/Makefile.Release
/OMShell/OMShellGUI/object_script.*
/OMShell/OMShellGUI/omc_communication.cc
/OMShell/OMShellGUI/omc_communication.h
