*.o
/autom4te.cache/
/build
/config.guess
/config.log
/config.status
/config.sub
/configure
/install-sh
/Makefile
/mosh/src/Makefile
/mosh/src/omc_communication.cc
/mosh/src/omc_communication.h
/mosh/src/omc_config.h
/mosh/src/OMShell-terminal
/OMShell/bin
/OMShell/generatedfiles
/OMShell/OMShellGUI/.qmake.stash
/OMShell/OMShellGUI/*.qm
/OMShell/OMShellGUI/Makefile
/OMShell/OMShellGUI/Makefile.Debug
/OMShell/OMShellGUI/Makefile.Release
/OMShell/OMShellGUI/Makefile.unix
/OMShell/OMShellGUI/object_script.*
/OMShell/OMShellGUI/omc_communication.cc
/OMShell/OMShellGUI/omc_communication.h
/OMShell/OMShellGUI/omc_config.h
/OMShell/OMShellGUI/OMShell.config
/OMShell/OMShellGUI/OMShellGUI.pro.*
/qmake.sh
