/build
source/*.pyc
source/logo.pdf
/tmp
source/LotkaVolterra*.*
source/dcmotor.*
source/ProfilingTest_prof*
source/VanDerPol.pdf
source/VanDerPol.png
source/VanDerPol.svg
source/bouncingball_fmu.pdf
source/bouncingball_fmu.png
source/bouncingball_fmu.svg
source/externallibraries.pdf
source/externallibraries.png
source/externallibraries.svg
source/helloworld-detailed.pdf
source/helloworld-detailed.png
source/helloworld-detailed.svg
source/helloworld-euler.pdf
source/helloworld-euler.png
source/helloworld-euler.svg
source/helloworld.pdf
source/helloworld.png
source/helloworld.svg
source/nmpc-input.pdf
source/nmpc-input.png
source/nmpc-input.svg
source/nmpc-states.pdf
source/nmpc-states.png
source/nmpc-states.svg
source/openmodelica.bib
source/switch.pdf
source/switch.png
source/switch.svg
source/tracreleases.rst
source/interface.inc
source/tmp.rst
source/tmp.wiki
source/media/omedit-icons
source/media/mathematica-notebooks.pdf
source/media/omoptim-icons/
source/omchelptext.rst
source/releaselink.inc
source/simoptions.inc
source/testmodel.pdf
source/testmodel.png
source/testmodel.svg
source/tracreleases.inc
source/__pycache__/
source/media/mdt-build-prompt.pdf
source/media/mdt-create-project.pdf
source/media/systemoverview.pdf
source/omnotebook-closed-loop.pdf
source/omnotebook-closed-loop.png
source/omnotebook-closed-loop.svg
source/omnotebook-drcontrol-imgposroots.pdf
source/omnotebook-drcontrol-imgposroots.png
source/omnotebook-drcontrol-imgposroots.svg
source/omnotebook-drcontrol-negroots.pdf
source/omnotebook-drcontrol-negroots.png
source/omnotebook-drcontrol-negroots.svg
source/omnotebook-open-loop.pdf
source/omnotebook-open-loop.png
source/omnotebook-open-loop.svg
source/testmodel-plotall.pdf
source/testmodel-plotall.png
source/testmodel-plotall.svg
