*.a
*.config
*.unix.config.pri
*.dll
*.exe
*.lib
*.o
*.qm
*.so
/autom4te.cache/
/build/
/config.guess
/config.log
/config.status
/config.sub
/configure
/install-sh
/Makefile
/bin/
/build/release/
.qmake.stash
omedit_config.h
OMEdit.pro.*
/OMEditLIB/generatedfiles/
/OMEditLIB/.qmake.stash
/OMEditLIB/Debugger/Parser/GDBMIOutput.tokens
/OMEditLIB/Debugger/Parser/GDBMIOutputLexer.c
/OMEditLIB/Debugger/Parser/GDBMIOutputLexer.h
/OMEditLIB/Debugger/Parser/GDBMIOutputParser.c
/OMEditLIB/Debugger/Parser/GDBMIOutputParser.h
/OMEditLIB/Debugger/Parser/libGDBMIParser.a
/OMEditLIB/Debugger/Parser/Makefile.lib.unix
/OMEditLIB/Makefile
/OMEditLIB/Makefile.Debug
/OMEditLIB/Makefile.Release
/OMEditLIB/object_script.*
/OMEditLIB/OMC/Parser/OMCOutput.tokens
/OMEditLIB/OMC/Parser/OMCOutputLexer.c
/OMEditLIB/OMC/Parser/OMCOutputLexer.cpp
/OMEditLIB/OMC/Parser/OMCOutputLexer.h
/OMEditLIB/OMC/Parser/OMCOutputParser.c
/OMEditLIB/OMC/Parser/OMCOutputParser.cpp
/OMEditLIB/OMC/Parser/OMCOutputParser.h
/OMEditLIB/OMEditLIB.pro.*
/OMEditLIB/release
/OMEditLIB/debug
/OMEditGUI/.qmake.stash
/OMEditGUI/Makefile
/OMEditGUI/Makefile.Debug
/OMEditGUI/Makefile.Release
/OMEditGUI/object_script.*
/OMEditGUI/OMEditGUI.pro.*
/OMEditGUI/version.h
/OMEditGUI/release
/OMEditGUI/debug
/qjson-0.8.1/build/
/qmake.sh
Makefile.unix
qm.stamp
Testsuite/Makefile
Testsuite/Testsuite.pro.*
Testsuite/*/generatedfiles/
Testsuite/*/Makefile
Testsuite/*/Makefile.Debug
Testsuite/*/Makefile.Release
*.o.tmp

