*.a
*.dll
*.exe
*.lib
*.o
*.qm
*.so
/build/
/bin/
/build/release/
.qmake.stash
omedit_config.h
/OMEditLIB/generatedfiles/
/OMEditLIB/.qmake.stash
/OMEditLIB/Debugger/Parser/GDBMIOutput.tokens
/OMEditLIB/Debugger/Parser/GDBMIOutputLexer.c
/OMEditLIB/Debugger/Parser/GDBMIOutputLexer.h
/OMEditLIB/Debugger/Parser/GDBMIOutputParser.c
/OMEditLIB/Debugger/Parser/GDBMIOutputParser.h
/OMEditLIB/Debugger/Parser/libGDBMIParser.a
/OMEditLIB/Makefile
/OMEditLIB/Makefile.Debug
/OMEditLIB/Makefile.Release
/OMEditLIB/object_script.*
/OMEditLIB/OMC/Parser/OMCOutput.tokens
/OMEditLIB/OMC/Parser/OMCOutputLexer.c
/OMEditLIB/OMC/Parser/OMCOutputLexer.cpp
/OMEditLIB/OMC/Parser/OMCOutputLexer.h
/OMEditLIB/OMC/Parser/OMCOutputParser.c
/OMEditLIB/OMC/Parser/OMCOutputParser.cpp
/OMEditLIB/OMC/Parser/OMCOutputParser.h
/OMEditLIB/OMEditLIB.pro.*
/OMEditLIB/release
/OMEditLIB/debug
/OMEditGUI/Makefile
/OMEditGUI/Makefile.Debug
/OMEditGUI/Makefile.Release
/OMEditGUI/object_script.*
/OMEditGUI/version.h
/OMEditGUI/release
/OMEditGUI/debug
/qjson-0.8.1/build/
qm.stamp
Testsuite/*/generatedfiles/
Testsuite/*/Makefile
Testsuite/*/Makefile.Debug
Testsuite/*/Makefile.Release
*.o.tmp
.qtc_clangd/

