*.a
*.config
*.dll
*.exe
*.lib
*.o
*.qm
*.so
/autom4te.cache/
/build/
/config.guess
/config.log
/config.status
/config.sub
/configure
/install-sh
/Makefile
/OMEdit*/bin/
/OMEdit*/build/release/
/OMEdit/generatedfiles/
/OMEdit/OMEditGUI/.qmake.stash
/OMEdit/OMEditGUI/Debugger/Parser/GDBMIOutput.tokens
/OMEdit/OMEditGUI/Debugger/Parser/GDBMIOutputLexer.c
/OMEdit/OMEditGUI/Debugger/Parser/GDBMIOutputLexer.h
/OMEdit/OMEditGUI/Debugger/Parser/GDBMIOutputParser.c
/OMEdit/OMEditGUI/Debugger/Parser/GDBMIOutputParser.h
/OMEdit/OMEditGUI/Debugger/Parser/libGDBMIParser.a
/OMEdit/OMEditGUI/Debugger/Parser/Makefile.lib.unix
/OMEdit/OMEditGUI/Makefile
/OMEdit/OMEditGUI/Makefile.Debug
/OMEdit/OMEditGUI/Makefile.Release
/OMEdit/OMEditGUI/object_script.*
/OMEdit/OMEditGUI/omc_config.h
/OMEdit/OMEditGUI/OMC/Parser/OMCOutput.tokens
/OMEdit/OMEditGUI/OMC/Parser/OMCOutputLexer.c
/OMEdit/OMEditGUI/OMC/Parser/OMCOutputLexer.cpp
/OMEdit/OMEditGUI/OMC/Parser/OMCOutputLexer.h
/OMEdit/OMEditGUI/OMC/Parser/OMCOutputParser.c
/OMEdit/OMEditGUI/OMC/Parser/OMCOutputParser.cpp
/OMEdit/OMEditGUI/OMC/Parser/OMCOutputParser.h
/OMEdit/OMEditGUI/OMEditGUI.pro.*
/OMEdit/OMEditGUI/version.h
/qjson-0.8.1/build/
/qmake.sh
Makefile.unix
qm.stamp
