*.o
*.qm
/build
/OMNotebook/bin
/OMNotebook/generatedfiles
/OMNotebook/OMNotebookGUI/*.qm
/OMNotebook/OMNotebookGUI/Makefile
/OMNotebook/OMNotebookGUI/Makefile.Debug
/OMNotebook/OMNotebookGUI/Makefile.Release
/OMNotebook/OMNotebookGUI/object_script.*
/OMNotebook/OMNotebookGUI/debug
/OMNotebook/OMNotebookGUI/release
qm.stamp
