*.o
*.qm
/autom4te.cache/
/build
/config.guess
/config.log
/config.status
/config.sub
/configure
/install-sh
/Makefile
/OMNotebook/bin
/OMNotebook/generatedfiles
/OMNotebook/OMNotebookGUI/.qmake.stash
/OMNotebook/OMNotebookGUI/*.qm
/OMNotebook/OMNotebookGUI/Makefile
/OMNotebook/OMNotebookGUI/Makefile.Debug
/OMNotebook/OMNotebookGUI/Makefile.Release
/OMNotebook/OMNotebookGUI/Makefile.unix
/OMNotebook/OMNotebookGUI/object_script.*
/OMNotebook/OMNotebookGUI/omc_config.h
/OMNotebook/OMNotebookGUI/OMNotebook.config
/OMNotebook/OMNotebookGUI/OMNotebookGUI.pro.*
qm.stamp
qmake.sh
