QMAKE_CC  = clang
QMAKE_CXX = clang++
QMAKE_LINK = clang++

PLOTLIBS = -L/home/marsj/OpenModelica/build/lib/x86_64-linux-gnu/omc -lOMPlot -lomqwt -Wl,-z,origin -Wl,-rpath,\'\$$ORIGIN/../lib/x86_64-linux-gnu/omc\' -Wl,-rpath,\'\$$ORIGIN\'
PLOTINC = /home/marsj/OpenModelica/build/include/omplot/qwt /home/marsj/OpenModelica/build/include/omplot
OMCLIBS = -L/home/marsj/OpenModelica/build/lib/x86_64-linux-gnu/omc -lOpenModelicaCompiler -lOpenModelicaRuntimeC -lfmilib_shared -lModelicaExternalC -lomcgc -lomantlr3
OMCINC = /home/marsj/OpenModelica/build/include/omc/c

QMAKE_CFLAGS = -g -O2 
QMAKE_CXXFLAGS = -g -O2 
QMAKE_LFLAGS += 

# 64MB (0x4000000)
mac {
  QMAKE_LFLAGS += -Wl,-stack_size,4000000
}
