__pycache__/
*.pyc
api
bouncingball_fmu.pdf
bouncingball_fmu.png
bouncingball_fmu.svg
dcmotor.*
externallibraries.pdf
externallibraries.png
externallibraries.svg
githubreleases.md
githubreleases.rst
githubreleases.tmp.rst
helloworld-detailed.pdf
helloworld-detailed.png
helloworld-detailed.svg
helloworld-euler.pdf
helloworld-euler.png
helloworld-euler.svg
helloworld.pdf
helloworld.png
helloworld.svg
images
interface.inc
logo.pdf
LotkaVolterra*.*
media/mathematica-notebooks.pdf
media/mdt-build-prompt.png
media/mdt-create-project.png
media/omedit-icons
media/omoptim-icons/
media/systemoverview.png
Modelica.Mechanics.*
nmpc-input.pdf
nmpc-input.png
nmpc-input.svg
nmpc-states.pdf
nmpc-states.png
nmpc-states.svg
omchelptext.rst
OMCScripting.inc
omnotebook-closed-loop.pdf
omnotebook-closed-loop.png
omnotebook-closed-loop.svg
omnotebook-drcontrol-imgposroots.pdf
omnotebook-drcontrol-imgposroots.png
omnotebook-drcontrol-imgposroots.svg
omnotebook-drcontrol-negroots.pdf
omnotebook-drcontrol-negroots.png
omnotebook-drcontrol-negroots.svg
omnotebook-open-loop.pdf
omnotebook-open-loop.png
omnotebook-open-loop.svg
omreleaselink.inc
omsimulator
omsimulator-help.inc
OMSimulatorLib.inc
OMSimulatorLua.inc
OMSimulatorPython.inc
openmodelica.bib
ProfilingTest_prof*
releaselink.inc
simoptions.inc
switch.pdf
switch.png
switch.svg
testmodel-plotall.pdf
testmodel-plotall.png
testmodel-plotall.svg
testmodel.pdf
testmodel.png
testmodel.svg
tmp.rst
tmp.wiki
VanDerPol.pdf
VanDerPol.png
VanDerPol.svg
