*_info.json
*.bin
*.fail_log
*.log
*.o
*.so
/failed.*
difftool/lex.yy.c
difftool/lex.yy.wsl.c
openmodelica/bootstrapping/CodegenC.*
openmodelica/bootstrapping/CodegenUtil.tpl
openmodelica/bootstrapping/SimCodeTV.mo
openmodelica/bootstrapping/mine
openmodelica/bootstrapping/theirs
/runtest.db.*
simulation/libraries/msl32/Modelica.Mechanics.MultiBody.Examples.Elementary.DoublePendulum.csv
simulation/modelica/solver/externalInput.csv
# Reference files are stored as .mat.xz
ReferenceFiles/**/*.mat
/invalid-files.log
/invalid-files.sorted
/.gitvalidfiles.sorted
flattening/modelica/ffi/FFITest/Resources/BuildProjects/gcc/FFITestLib.dll
flattening/modelica/ffi/FFITest/Resources/Library/
