/build
source/*.pyc
source/logo.pdf
/tmp
source/dcmotor.*
source/ProfilingTest_prof*
source/VanDerPol.pdf
source/VanDerPol.png
source/VanDerPol.svg
source/bouncingball_fmu.pdf
source/bouncingball_fmu.png
source/bouncingball_fmu.svg
source/externallibraries.pdf
source/externallibraries.png
source/externallibraries.svg
source/helloworld-detailed.pdf
source/helloworld-detailed.png
source/helloworld-detailed.svg
source/helloworld-euler.pdf
source/helloworld-euler.png
source/helloworld-euler.svg
source/helloworld.pdf
source/helloworld.png
source/helloworld.svg
source/nmpc-input.pdf
source/nmpc-input.png
source/nmpc-input.svg
source/nmpc-states.pdf
source/nmpc-states.png
source/nmpc-states.svg
source/openmodelica.bib
source/switch.pdf
source/switch.png
source/switch.svg
source/tracreleases.rst
source/media/omedit-icons
source/media/mathematica-notebooks.pdf
source/media/omoptim-icons/
