3rdParty/antlr4/runtime/Cpp/build
3rdParty/antlr4/runtime/Cpp/dist
install/
modelica.interp
modelica.tokens
modelicaBaseListener.cpp
modelicaBaseListener.h
modelicaBaseVisitor.cpp
modelicaBaseVisitor.h
modelicaLexer.cpp
modelicaLexer.h
modelicaLexer.interp
modelicaLexer.tokens
modelicaListener.cpp
modelicaListener.h
modelicaParser.cpp
modelicaParser.h
modelicaVisitor.cpp
modelicaVisitor.h
*.o
*.a
test/mp
test/mp.exe
test/*.o

